<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- styles sheets -->
		<link rel="stylesheet" type="text/css" href="./public/styles/global.css" />
		<link rel="stylesheet" type="text/css" href="./public/styles/loader.css" />
		<link rel="stylesheet" type="text/css" href="./public/styles/text.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="./public/styles/svgs-style.css"
		/>

		<link
			rel="icon"
			type="image/png"
			href="../public/images/Logo_Blitty_icon.png"
		/>

		<!-- title -->
		<title>blitty-codes</title>
	</head>

	<body>
		<div id="app">
			<aside class="aside">
				<!-- Profile image and nick -->
				<div class="container">
					<div class="img_container">
						<img
							class="img"
							src="./public/images/Logo_Blitty.jpg"
							alt="Blitty logo"
						/>
					</div>
					<h1 class="aside_text name">Blitty</h1>

					<div id="social">
						<!-- loader -->
						<div v-if="loading" class="loader_container">
							<p class="aside_text loading_text">Loading...</p>
							<div class="loader"></div>
						</div>

						<!-- Social media -->
						<div class="social_media" name="social">
							<div class="contact" v-for="sMedia in sMedias" :key="sMedia.id">
								<div v-html="sMedia.icon"></div>
								<h2 class="social_links">
									<a class="aside_text" :href="sMedia.link" target="_blank">
										{{ sMedia.nick }}
									</a>
								</h2>
							</div>
						</div>
					</div>
				</div>
			</aside>
			<!-- arrow -->
			<div class="arrow">
				<svg
					data-name="Arrow to About me"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 1200 120"
					preserveAspectRatio="none"
				>
					<path
						d="M649.97 0L550.03 0 599.91 54.12 649.97 0z"
						class="shape-fill"
					></path>
				</svg>
			</div>

			<!-- information Blitty -->
			<main>
				<!-- About section -->
				<section class="section cyan" name="Sobre mi">
					<h1 class="title_section">
						<u>Sobre mi</u>
					</h1>
					<div class="container_about">
						<span class="text_section">
							<b>48 65 6c 6c 6f 21 21</b>
							<br /><br />
							I <b>love</b> programming, you can call me <b>B</b> or
							<b>Blitty</b>. <br /><br />
							Things I do (in tech):
							<ul class="list list_done">
								<li>Web development</li>
								<li>Competitive Programming</li>
								<li>AI, ML (a little knowledge)</li>
								<li>Product Ideas</li>
								<li>Learn new technology</li>
								<li>Googling</li>
							</ul>
							<br />
							Things I <i>want</i> to do (in tech):
							<ul class="list list_undone">
								<li>IoT</li>
								<li>DL</li>
								<li>Open Source Contribution</li>
								<li>Ethical Hacking</li>
								<li>Blockchain</li>
							</ul>
							That is just a small entry, but I wish I find people to start
							learning or creating new innovative things, which I love to do.
							<br /><br />
							<u>Q29udGFjdCBtZSEh ;)</u>
						</span>
					</div>
				</section>

				<!-- wave separator -->
				<div class="wave">
					<svg
						data-name="Wave separetor"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 1200 120"
						preserveAspectRatio="none"
					>
						<path
							d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
							class="shape-fill"
						></path>
					</svg>
				</div>

				<section class="section green_blue" name="Blogs">
					<h1 class="title_section">
						<u>Blogs</u>
					</h1>
					<div class="container-dev-card">
						<a href="https://dev.to/blitty" target="_blanck">
							<!-- Where did I get this info?? here: https://dev.to/api/users/me -->
							<img
								class="dev-card"
								src="https://dev.to/social_previews/user/643016.png"
								alt="Profile preview DEV.to - blitty"
							/>
						</a>
					</div>
				</section>

				<!-- book separator-->
				<div class="book">
					<svg
						data-name="Book separator"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 1200 120"
						preserveAspectRatio="none"
					>
						<path
							d="M602.45,3.86h0S572.9,116.24,281.94,120H923C632,116.24,602.45,3.86,602.45,3.86Z"
							class="shape-fill"
						></path>
					</svg>
				</div>

				<section class="section honeydew" name="projects" id="projects">
					<h1 class="title_section">
						<u>Proyectos</u>
					</h1>

					<!-- loader -->
					<div v-if="loading" class="loader_container">
						<p class="aside_text loading_text">Loading...</p>
						<div class="loader"></div>
					</div>

					<div class="projects-container">
						<div class="project" v-for="p in projects_info" :key="p.id">
							<!-- generated with mugshotbot -->
							<a :href="p.link" target="_blank">
								<img class="projects-custom" :src="p.img" :alt="p.alt" />
							</a>
						</div>
					</div>
					<p class="text_section paragraph_section">
						And much more!!! Go to my
						<a href="https://github.com/blitty-codes">GH profile</a>
					</p>
				</section>

				<!-- Multy waves -->
				<div class="multy-waves">
					<svg
						data-name="Multy waves separator"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 1200 120"
						preserveAspectRatio="none"
					>
						<path
							d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
							opacity=".25"
							class="shape-fill"
						></path>
						<path
							d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
							opacity=".5"
							class="shape-fill"
						></path>
						<path
							d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
							class="shape-fill"
						></path>
					</svg>
				</div>

				<section class="section salmon" id="skills" name="Skills">
					<h1 class="title_section"><u>Skills</u></h1>
					<div class="">
						<!-- loader -->
						<div v-if="loading" class="loader_container">
							<p class="aside_text loading_text">Loading...</p>
							<div class="loader"></div>
						</div>

						<div class="skills_container">
							<div class="cover-grid" v-for="skill in skills" :id="skill.id">
								<div class="skill_container">
									<div :class="skill.css" class="skills">
										<p class="text-percentaje">{{ skill.text }}</p>
										<p class="percentaje">{{ skill.percentaje }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="idioms">
						<h3 class="title_section" style="margin-bottom: 0">
							<u>Idiomas</u>
						</h3>
						<div class="text_section paragraph_section">
							<p>🇪🇸 Español - Nativo</p>
							<p>🇬🇧 Ingles - Fluido</p>
							<p>🇩🇪 Aleman - Iniciado</p>
							<p>Esperanto - Iniciado</p>
						</div>
					</div>
				</section>
				<footer class="footer">
					<p>
						Copyright &copy; 2021-
						<script>
							document.write(new Date().getFullYear())
						</script>
						/ blitty-codes ❤️‍🔥
					</p>
				</footer>
			</main>
		</div>

		<script src="https://unpkg.com/vue@3.2.4"></script>
		<script src="./src/socail_media.js"></script>
		<script src="./src/projects.js"></script>
		<script src="./src/skills.js"></script>
	</body>
</html>
