body {
	background: #3A3A3A;
}

.aside {
	position: sticky;
	width: max-content;
	height: unset;

	top: auto;

	background: #D7D7D7;
}

.img_container {
	padding-top: 50px;
}

.img {
	display: block;
	width: 50%;

	margin: auto;

	border-radius: 50%;
}

.container {
	display: block;
	margin: auto;
	width: auto;
}

.social_media {
	display: block;
	margin: auto;
	width: min-content;
}

.contact {
	display: flex;

	padding-bottom: 12px;
}

/* svgs */
/* source -> https://www.shapedivider.app/ */
.arrow {
	width: 100%;
	overflow: hidden;
	line-height: 0;

	fill: #d7d7d7;

	background-color: #40cff2;
}

.wave {
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);

	background-color: #00ffab;
}

.wave svg {
	position: relative;
	display: block;
	width: calc(125% + 1.3px);
	height: 162px;
}

.wave .shape-fill {
	fill: #40CFF2;
}

.book {
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
	background-color: honeydew;
}

.book svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 110px;
}

.book .shape-fill {
	fill: #00FFAB;
}

/**/
.section {
	position: relative;
	
	display: flex;
	flex-direction: column;
	
	align-items: center;
}

.cyan {
	background-color: #40cff2;
}

.green_blue {
	background-color: #00ffab;
}

.honeydew {
	background-color: honeydew;
}

.container_about {
	margin: 0 20px;
}

.container-dev-card {
	margin-bottom: 20px;
}

.dev-card, .projects-custom {
	width: 80%;
}

.dev-card {
	border-radius: 20px 20px 10px 10px;
	border-style: dashed;
	box-shadow: 0px 0px 20px 5px beige;
	margin-bottom: 20px;
}

.projects-custom {
	border-radius: 0;
	margin-bottom: 20px;
}

@media (max-width: 600px) {
  .aside {
		width: auto;
	}
}
